<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Platter<h1>
        <h5>Know exactly what you're ordering, so you never leave hungry</h5>
    </div>
    <ul>
      <li><a href="/personalhtml">Platter</a>
    </ul>
<%- include('bootfooter') -%>
